[2016-12-28 19:31] cgpurbaugh opened #6 "net::err_file_no_found (file:///index.html)"
Problem:
User attempts to log into erpnext via app, receives this error:

[code]

Issue thread:
https://discuss.erpnext.com/t/android-was-working-now-an-error/17099

Possible solution:

http://stackoverflow.com/questions/27496411/cordova-err-file-not-foundfile-android-assets-www-index-html

[2017-01-12 10:41] vjFaLk opened #7 "[Feature] OAuth Login"
Currently the app lacks the ability to login via OAuth (Facebook / GitHub / Google Login)

[2017-04-13 12:05] franzos opened #8 "[Error] Failed to load webpage with error"
I've successfully build the iOS App and after entering the server address as well as username and password, I'm stuck on a white screen with ERPNext logo.

[code]

ERPNext v8.0.10, iOS 10.2

<img width="487" alt="screen shot 2017-04-13 at 2 01 39 pm" src="https://cloud.githubusercontent.com/assets/2619225/25003929/0360ed94-2052-11e7-83de-bd8b596c16a0.png">

[2017-04-17 21:21] joezsweet commented on #6
getting same problem, any news on this?

[2017-04-23 07:00] faztp12 commented on #6
Issue comes when having a custom app with any of `app_includes_js` and `app_include_css`.
I am using jasper_erpnext_report, and when I remove those lines from the hooks file, the mobile app runs fine.

[2017-04-23 08:39] joezsweet commented on #6
Ah, that's awful :( .. @netchampfaris any hint on how to fix it?

[2017-05-24 11:11] faztp12 commented on #6
@umairsy @netchampfaris  looks like the code is not updated in this repo ?

[2017-06-09 01:46] strixaluco commented on #8
Can't provide traceback, but seems to be the issue still with iOS 10.2.1 and Frappe 8.0.65. Application is stuck with splash screen and can take 15-20 minutes to load, but sometimes it doesn't load at all. Hard to find any consistency in behavior.

[2017-06-18 14:33] netchampfaris commented on #6
@faztp12 Thanks for the tip. I didn't realize that was the problem.

[2017-06-19 05:56] faztp12 commented on #6
@netchampfaris I think your fork `netchampfaris/mobile-1` `new-master` is the latest version.

[2017-07-11 11:00] netchampfaris commented on #6
@faztp12 You are right, just updated to latest 0.0.8

[2017-07-11 11:00] #6 closed

[2017-07-11 11:00] netchampfaris commented on #8
@franzos Can you try again with the latest changes, if the problem still occur?

[2017-07-12 16:23] bcornwellmott opened #10 "[Feature] Social Logins"
Currently, the app doesn't support any social logins, which makes it much less useable.

[2017-07-12 16:23] bcornwellmott opened #11 "[Feature] Remember username / password"
Currently, there is no functionality to remember the user's email or password, forcing the user to type it in manually every time.

[2017-07-13 01:37] strixaluco commented on #8
@netchampfaris, did you push 0.0.8 to Apple Store? It's still showing [0.0.6](https://itunes.apple.com/in/app/erpnext/id1027318091?mt=8)

[2017-07-13 01:45] strixaluco commented on #10
Isn't it the same as #7 ?

[2017-07-13 18:05] #10 closed

[2017-08-08 16:00] joshreeder commented on #8
Yes problem still occurs for me.

[2017-08-17 09:07] strixaluco opened #12 "[Feature] Push notifications"
As have been asked on the forum: https://discuss.erpnext.com/t/is-there-notifications-in-erpnext-mobile-app/21915

Reference: https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-dialogs/index.html

[2017-08-17 09:12] strixaluco commented on #8
I'm experiencing the same problem as described [here](https://discuss.erpnext.com/t/mobile-app-on-iphone-7-is-not-working/25174/10?u=strixaluco):

iOS 10.2.1
Frappe 8.7.8
ERPNext Mobile 0.0.6

[2017-08-17 10:27] strixaluco opened #13 "[Bug] "The image couldn't be loaded" error in Image view"
**Steps to reproduce:**

1. go to any list of DocTypes (e.g. /desk#List/Item);
2. switch to the `Image view`;
3. click on the `+` button over any given item with image

**Expected result:**
Image zooms in

**Actual result:**
![no image](https://user-images.githubusercontent.com/10875796/29407849-80ffaa54-8378-11e7-8a49-9eed04e169e7.png)

**Environment:**
official SaaS
Frappe Framework 8.7.8
ERPNex

[2017-08-18 06:07] strixaluco opened #14 "Bounty for fixing bugs and improving mobile experience"
(this line will be updated with a link to the bountysource)

The main goal of this small campaign is to fix several nastiest bugs and to implement credentials saving.

- [ ] #8 [Error] Failed to load webpage with error;
- [ ] #13 [Bug] "The image couldn't be loaded" error in Image view;
- [ ] #11 [Feature] Remember username / password.

In case campaign gets enough traction and receives more funds

[2017-09-07 03:32] Suharlie commented on #8
Hi all,
I am using IOS 10.3.3 and run ERPNext on Oracle VM. Before I installed Jusper ERPNext Report, I can open ERPNEXT mobile 0.0.6. But when Installed Jusper ERPNext module into ERPNext, the mobile app was not respon after input user name and password.

Please help me, what I have to do?

![img_1455](https://user-images.githubusercontent.com/31718264/30144789-93466dc0-93b7-11e7-9400-b7d70fcc799

[2017-09-07 03:56] strixaluco commented on #8
@Suharlie have you tried removing Jasper plugin?

[2017-09-07 03:59] Suharlie commented on #8
@strixaluco  how to do it?

[2017-09-07 10:18] OneiricIT commented on #14
@strixaluco also add in ability to open attachments - see https://github.com/frappe/erpnext/issues/7306

[2017-09-07 10:28] strixaluco commented on #14
@OneiricIT , thank you for suggestions! I've added attachments support to the list.
Regarding the landscape mode, @cgpurbaugh already submitted PR last year, but for some reason it is not merged still — frappe/mobile/pull/4

[2017-12-15 07:14] strixaluco commented on #13
Fixed by https://github.com/frappe/frappe/commit/8af402bcb644516c6b020e48f122bc886d0ed29b
Please post if anybody encounters the issue again.

[2017-12-15 07:14] #13 closed

[2017-12-15 07:27] strixaluco commented on #8
@Suharlie, sorry for missing reply. I suspect you go to https://%your_erpnext_domain%/desk#applications and click on `Remove` button.

Back to the main issue, does anybody still have this bug? I can't replicate it on iOS 11.1.2 ,ERPNext 9.2.22 and Frappe Framework 9.2.23 anymore.

[2018-01-13 07:23] souravmitra15 opened #15 "Push Notifications for ERPNext"
Hi all,
Can someone please provide a detailed documentation for integrating **Push Notifications** in ERPNext App (both in Android and iOS)?
We are developing an ERPNext Application based on Cordova, but unable to find out a proper documentation to start with.
I'm pretty new to this, so your suggestions will help.
Thanks in advance !

[2018-01-27 17:07] mhbu50 opened #16 "RTL Support"
![whatsapp image 2018-01-27 at 5 52 13 pm](https://user-images.githubusercontent.com/11526423/35474310-8bdf7558-039d-11e8-94c6-b5305400c310.jpeg)

[2018-03-09 09:14] strixaluco commented on #14
@OneiricIT PR for landscape mode on iOS has just been [merged](https://github.com/frappe/mobile/commit/bea7b978ecb2dcf0ee57c5bd23861509c5eaba57) by Rushabh Mehta.
Now just to wait for new version to be built and published.

[2018-03-09 09:47] strixaluco commented on #15
Hi, @souravmitra15
Thanks for your initiative. There's a relatively active thread on this topic: https://discuss.erpnext.com/t/is-there-notifications-in-erpnext-mobile-app/21915
Please refer to `cordova-plugin-dialogs` documentation for integrating push notifications: https://cordova.apache.org/docs/en/latest/reference/cordova-plugin-dialogs/index.html
Let's head over to mentioned forum thread or

[2018-03-09 11:03] rmehta commented on #14
@strixaluco please feel free to ping any maintainer if there are pulls pending to be merged. I personally have all github notifications switched off. So don't get any by default.

[2018-03-10 03:10] strixaluco commented on #14
@rmehta thanks for pointing this out, will do from now on.

[2018-07-09 12:19] shreyashah115 opened #19 "[feature] Refresh on swipe down"
The page should get refreshed if I swipe down. Would be really handy if am opening an app after some time to check for any updates.

[2018-07-23 09:12] #19 closed

[2018-08-03 01:45] marciogurka commented on #14
@strixaluco is this still needed??? I saw [here](https://www.bountysource.com/issues/48390608-bounty-for-fixing-bugs-and-improving-mobile-experience) what you want and I think I could work on it...

[2018-08-03 02:26] strixaluco commented on #14
Hi. Thanks for getting onto this!
May we continue the talk at the [forum thread](https://discuss.erpnext.com/t/bounty-fixing-bugs-and-improving-mobile-experience-of-erpnext-now-250)?

[2018-08-04 13:01] #16 closed

[2018-09-20 21:59] joshreeder opened #20 "BUG: Signature docfield not working in Android"
Works in iOS, Chrome browser on Android but not in the mobile app. Not sure how to fix.

[2018-09-21 09:15] mehmetalianil opened #21 "LDAP Authentication"
The app does not have the form button for LDAP.

[2018-12-05 07:13] ks093 commented on #20
@joshreeder I tested this. The field is working in mobile app also.
The issue is that the **signature in the field is not shown in the mobile app** on the canvas even though it is there and saved in the system. When creating an unsaved document, the signature shows as long the finger is on the screen and it disappears as soon as it is completed and finger is lifted.
Attaching screenshots for refer

[2019-01-28 19:00] arshadkazmi42 commented on #11
@bcornwellmott Found this issue from bountysource
https://www.bountysource.com/issues/48390608-bounty-for-fixing-bugs-and-improving-mobile-experience

is it still available? I can work on it if its available

[2019-03-20 23:19] bghayad commented on #14
Hello @strixaluco
I am interested in all these features and the most is the push notification.
Also I am interested in resolving new additional issues that will mention it, but how much it is remaining to pay and then we can move on and finish all the mentioned issues including those that I will add them?
Below are the issues that need to be included in this bounty, please I need to know the neede

[2019-03-21 01:14] strixaluco commented on #14
Hi, @bghayad. I'm glad you're interested in this initiative. We can easily include the list of your issues as well, but do you have people willing to work on it? I didn't have lots of success finding developers so far: https://discuss.erpnext.com/t/bounty-fixing-bugs-and-improving-mobile-experience-of-erpnext-now-250/27282

[2019-03-21 11:15] bghayad commented on #14
Hi @strixaluco, no I do not have developer.
So what is the solution? How can we move on?

Regards
Bilal

[2019-03-21 12:29] bghayad commented on #14
Hello @strixaluco
If I placed 250$ as bounty, it will move forward? What do you think?
But needs to include my points.
Regards
Bilal

[2019-03-22 08:53] strixaluco commented on #14
That's not an easy question to answer. Your best bet might be to start a separate bounty related to your particular needs, as this one is kind of stalled and I'm not sure if diluting it with more requests is going to help. At the same time it can be helpful to chip in for the purpose of implementing push notifications, in case you want that.
We should probably try to promote the bounty more active

[2019-03-31 03:06] ahmedfme commented on #23
Yes, I am facing the same problem,
It will be great to correct

[2019-04-13 07:29] Wjp43045 commented on #24
I tested successfully.
1.frappe/public/js/frappe/desk.js +447 (example: redirect_to_login), Add mobile_to_scanner: function() {},
2. The js file under Doctype:
	$("div[data-fieldname='scanner_btn']").on('click',function(){
		var test = frappe.app.mobile_to_scanner();
		console.log(test);
	});
3.erpnext mobile app, mobile-master/www/js/desk.js +90 (eg: redirect_to_login)
	frappe.app.mobile_to_scann

[2019-11-29 08:20] waiminn commented on #23
I am facing this problem too.  It's gonna be great if team fix it.
Thank you.

[2019-12-16 15:48] tecnofoodmx commented on #23
Same problem here, any update?

[2020-01-06 16:08] Olawale1 commented on #23
It would be great to have this fixed. Sales and Logistics teams would benefit greatly from this

Thanks

[2020-02-19 09:34] nak1090 commented on #25
I have a same issue to.

[2020-03-13 20:11] sakkeerhussaina commented on #25
@nak1090 What is the server url, is it http or https ?

[2020-04-05 17:53] AlvaroMolano opened #1 "Feature request: roadmap and a defined architecture"
Hi, I am so glad you have started an official frappe mobile client.
I am keen to comment on business cases and do some development to help.

I see you just started development, Would it be possible for you to share a roadmap of features? Please.
It would also be nice you share what architecture will you apply and why.

Thank you

[2020-04-06 08:45] AlvaroMolano commented on #1
In order to get help from the community, you should include a contribution guideline, like the following.
https://github.com/CoolProp/CoolProp/wiki/Contributing:-git-development-workflow

Regarding architecture, it is important to take in consideration if it is going to be appropriate for large data handling and realtime collaboration.

Regarding roadmap, I would also recommend time and location t

[2020-04-06 09:02] AlvaroMolano opened #2 "Other requests: Provide users for development or allow config a different server"
If app is working against some custom dataset and while not prepared to work for all types of datasets, we need to
1. share the doctypes and config expected server-side if it is expected for developers to work against their own server instances.
Or
2. In case it is intended to work only against official servers, please share users for development and test.
Awaiting for your comments.
Thanks

[2020-05-04 17:42] scmmishra commented on #1
Hi @AlvaroMolano thank you very much for the feedback, the project is still at a very foundational state, we’re experimenting, making and breaking stuff. We will soon update issue templates, readme and other docs along with a comprehensive roadmap.

[2020-05-04 17:46] AlvaroMolano commented on #1
@scmmishra Great to see you are working on this repository, that roadmap will be really helpful.
Best

[2020-06-16 16:05] madmath03 commented on #21
Still the case... this is basically preventing users in LDAP to use ERPNext Mobile 😞

[2020-06-19 20:38] MarekPikula commented on #21
A workaround is to set password in ERPNext itself. Then you don't need to use LDAP login, just normal login (in the browser as well as in the mobile app).
It's not ideal and may be some form of attack vector for poor passwords though.

[2020-06-19 22:51] madmath03 commented on #21
I just tested it and yes, it does "_work_"... but it also prevents you from ever connecting again with your LDAP credentials, thus breaking the main reason to have LDAP auth: single credentials across company tools.

So I would advise against that.

[2020-06-21 14:40] MarekPikula commented on #21
Yeah, for sure I wouldn't advise in favour of this workaround.
Actually for me authentication with LDAP works just fine even after setting the password manually.

[2020-07-29 10:13] #1 closed, assigned to nobody

[2020-07-29 10:13] #2 closed, assigned to nobody

[2020-08-03 11:48] sumitbhanushali commented on #7
@rmehta @surajshetty3416 @scmmishra seems good?

![Screenshot_1596455052](https://user-images.githubusercontent.com/9103781/89179266-00efde80-d5ad-11ea-8ff4-eba41d8d93c4.png)

[2020-08-04 07:05] rmehta commented on #7
Looks fine 👍

[2020-08-10 13:11] sumitbhanushali commented on #8
As discussed, header and bottom bar will be hidden in edit mode

[2020-08-29 14:22] tiwiex commented on #23
Helo all,

Has this issue been resolved please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:22] tiwiex commented on #23
Helo all,

Has this issue been resolved please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:22] tiwiex commented on #23
Helo all,

Has this issue been resolved please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:22] tiwiex commented on #23
Hello all,

Has this issue been resolved please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:22] tiwiex commented on #23
Hello all,

Has this issue been resolved, please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:24] tiwiex commented on #23
Hello all,

Has this issue been resolved, please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:24] tiwiex commented on #23
Hello all,

Has this issue been resolved, please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks.

[2020-08-29 14:34] tiwiex commented on #23
Hello all,

Has this issue been resolved, please? I just encountered it when investigating the assets feature in ERP Next. I am not even using the mobile app.

Thanks

[2020-08-31 18:27] Olawale1 commented on #23
Hi @tiwiex

If you're not using the mobile app, it shouldn't be a problem! Just make sure the browser you're using can connect to your phone's geolocation feature and also make sure Location is turned on. If you're using Android, Chrome is a good candidate (as it will also prompt the user to turn on Location if its off)

Cheers

[2020-09-04 00:22] tiwiex commented on #23
Thanks Wale,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-04 00:22] tiwiex commented on #23
Thanks @olawale1,

Just seeing this. I got it working on chrome but didn't succeed on Safari. That's fine. I would dig further. Are you in Nigeria? It would be good to have a one-on-one discussion.

Regards,
Taiwo

[2020-09-09 09:46] Olawale1 commented on #23
Hi @tiwiex

Yeah sure. You can dm me on https://discuss.erpnext.com for phone details. My username is wale

Cheers

[2020-10-02 12:47] nkyadav1 commented on #29
@netchampfaris Can you please help to solve this?
Able to build successfully with Cordova iOS 5.1. But Apple does not accept it as WKWebView is required as the default web engine.
If I build it with Latest Cordova iOS6.1. I end up with the error as the request gets terminated with status code 0.

[2021-02-04 10:17] sumitbhanushali commented on #21
done

[2021-02-04 13:31] sumitbhanushali commented on #16
done

[2021-02-15 04:59] wanarta commented on #21
Any update for this issue?

Really need ldap login using mobile apps

[2021-02-15 06:59] mohsinalimat commented on #30
@rmehta @nabinhait No update.

[2021-02-19 11:03] mohsinalimat opened #22 "Not able login"
Here is Xcode log

[code]

[2021-02-19 11:22] sumitbhanushali commented on #22
@mohsinalimat Thanks for the log, I checked the issue, actually API response has been changed in latest develop branch of Frappe Framework, hence you are unable to login.

[2021-02-19 11:24] mohsinalimat commented on #22
@sumitbhanushali Most welcome bro, I have to contribute more and more to ERPNext and Frappe.

[2021-02-19 11:25] #22 closed, assigned to nobody

[2021-02-23 23:37] rmehta opened #23 "Reports"
Show reports with simple grid, filters

[2021-02-23 23:38] rmehta opened #24 "Sorting in list view"
Sorting option for list view

[2021-02-23 23:38] rmehta opened #25 "Dynamic filters in list view"
Ability to add filters dynamically

[2021-02-23 23:39] rmehta opened #26 "Reduce padding on inputs"
For better space utilisation

[2021-02-24 06:39] SarthakBhargava opened #27 "Not able to login"
Android:
After filling the form and pressing the login button, the app does not redirect to the application.

[2021-02-24 08:26] sumitbhanushali commented on #27
@SarthakBhargava please make sure you are on latest develop branch since there is change in API of Frappe Framework.

[2021-02-25 03:26] #27 closed, assigned to nobody

[2021-02-26 11:39] Sarthak788 commented on #27
What would be the best way to change this code so that we can incorporate the new API responses.
I am new to development and want to learn how flutter and frappe works.

[2021-02-26 22:44] yhennie opened #28 "Attachment not working even allow on mobile settings"
Hi Good Day, Attachment not working even u allow it on phone settings.

[2021-02-26 22:47] yhennie opened #29 "Editing Employee Detaills"
Expectation failed happen on some fields like status , employment type , name

[2021-02-27 03:49] sumitbhanushali commented on #27
@Sarthak788 Flutter App is already on latest code, you need to use latest develop branch of Frappe Framework to make it work.

[2021-02-27 04:49] Sarthak788 commented on #27
Thank You

[2021-02-28 19:21] Helkyd opened #30 "Does V13 Beta.12 works?"
Hi all,
Trying on my site (https://demo13.angolaerp.co.ao) and i can see the logs that is logged in but the app does not go beyond stays on the Login page....

Current Server Version:
**erpnext 13.0.0-beta.12
frappe 13.0.0-beta.11**

Any tips?

[2021-03-01 04:57] Sarthak788 opened #31 "Login not working"
Hello,

I am trying to use my ERPnext login on the frappe application, but it doesn't login for some reason. I have tried a lot of different things from my end but it doesn't seem to work. Any suggestions?

Thank you

[2021-03-01 07:38] sumitbhanushali commented on #30
@Helkyd you need to be on latest develop branch of Frappe Framework

[2021-03-01 07:38] sumitbhanushali commented on #31
@Sarthak788  make sure you are on latest develop branch of Frappe Framework

[2021-03-01 07:40] sumitbhanushali commented on #31
duplicate issue: https://github.com/frappe/mobile/issues/27

[2021-03-01 07:40] #31 closed, assigned to nobody

[2021-03-01 07:40] sumitbhanushali commented on #30
similar issue: https://github.com/frappe/mobile/issues/27

[2021-03-01 07:40] #30 closed, assigned to nobody

[2021-03-01 08:52] Morata1 opened #32 "Login not working."

[2021-03-01 08:52] AdityaAgarwal256 commented on #31
Hello, I am experiencing the same issue. I believe I am on the latest development branch, but could you please elaborate??
Also, where can I find the develop branch??

[2021-03-02 11:56] yhennie commented on #32
Please indicate detailed information about  login? or can u provide screenshot. anyways login is working in my part just make sure you run on frappe framework develop branch.

[2021-03-06 07:21] AdityaAgarwal256 opened #33 "Reports show an error"
I am unable to open modules that show reports or charts like Lead details, Sales Funnel, etc.
, and an error message comes up every time: "Something went wrong"

[2021-03-06 07:26] sumitbhanushali commented on #33
@AdityaAgarwal256 charts/reports are not supported yet

[2021-03-06 07:27] AdityaAgarwal256 commented on #33
Alright. Also is there an app build for the stable version of frappe?

[2021-03-08 07:20] sumitbhanushali commented on #31
fixed in https://github.com/frappe/mobile/pull/34

[2021-03-08 07:20] sumitbhanushali commented on #30
fixed in https://github.com/frappe/mobile/pull/34

[2021-03-08 07:21] sumitbhanushali commented on #27
fixed in https://github.com/frappe/mobile/pull/34

[2021-03-08 07:21] sumitbhanushali commented on #33
after this change https://github.com/frappe/mobile/pull/34, you can test app on stable version of frappe

[2021-03-08 07:21] sumitbhanushali commented on #22
fixed in https://github.com/frappe/mobile/pull/34

[2021-03-08 07:22] sumitbhanushali commented on #32
fixed in https://github.com/frappe/mobile/pull/34

[2021-03-08 07:22] #32 closed, assigned to nobody

[2021-03-08 16:28] AdityaAgarwal256 commented on #33
Does this support reports or not?

[2021-03-08 17:08] sumitbhanushali commented on #33
reports are not supported yet

[2021-03-16 12:16] AdityaAgarwal256 opened #35 "Integrations not working"
Linkedin, Twitter, and SMS settings are displaying _empty boxes_ on the console in the details tab.

[2021-03-30 06:10] digital-onehash opened #36 "Android build child tables show an error"
I built the app for android and updated a few plugins. The app shows an error message in the place of child tables:
Failed assertion: line 57 pos 12: 'widget.datalist != null && widget.dataList.isNotEmpty' : is not true.

[2021-04-02 18:17] dawoodjee opened #38 "pub get failed (1; So, because frappe_app depends on both flutter_form_builder ^4.2.0 and intl ^0.16.1, version solving failed.)"
Dependancy failures

[code]

[2021-04-03 09:50] dawoodjee commented on #38
Resolved by [overriding dependancies](https://github.com/danvick/flutter_form_builder/issues/634#issuecomment-744452927)

[2021-04-03 09:50] #38 closed, assigned to nobody

[2021-04-03 10:56] dsatsangi opened #41 "ERPNEXT Mobile App Error 404 (Mobile Application Not loading after V13 Update)"
## Description of the issue
ERPNEXT Mobile App Error 404 (Mobile Application Not loading after V13 Update)
## Context information (for bug reports)

**Output of `bench version`**
[code]

## Steps to reproduce the issue

1.
2.
3.

### Observed result

### Expected result

### Stacktrace / full error message

[code]

## Additional information

OS version / distribution, `ERPNext` install method, etc

[2021-04-03 13:02] dawoodjee opened #39 "Build Failure: Try correcting the name to the name of an existing method, or defining a method named 'inheritFromWidgetOfExactType'."
Seems like my Flutter version is incompatible with what the dev team is using.

Looking for solutions. Working on [upgrading Flutter to beta](https://stackoverflow.com/a/66092545/3622835)

[code]

[2021-04-03 15:29] sumitbhanushali commented on #39
@dawoodjee whats your flutter version? this project is on flutter version 1.22.5

[2021-04-04 20:31] dawoodjee opened #40 "How do I build an apk?"
I want to make an apk and test it on my mobile. I'm using Android studio. I just really want to test this thing I'm having trouble running it according to the instructions on the readme. Building also has issues.

If anyone has the apk please let me know

[2021-04-04 20:33] dawoodjee commented on #39
Oh.... I have 2.x because this project didn't specify and have the link to the latest stable. Thanks, I'll try that @sumitbhanushali

[2021-04-05 04:14] sumitbhanushali commented on #40
@dawoodjee
https://discuss.erpnext.com/t/beta-frappe-mobile-built-on-flutter-android-ios/71552/49?u=sumitbhanushali

[2021-04-05 04:14] #40 closed, assigned to nobody

[2021-04-05 13:44] dawoodjee commented on #39
Downgrading to flutter 1.22.5 solved my issues. Thank you

[2021-04-05 13:44] #39 closed, assigned to nobody

[2021-04-14 07:07] abunet opened #42 "Need Flutter development environment version"
Please could specify, even in readme, the flutter developer environment used?

I'm using flutter 2.0.4 stable, but I receive many dependency errors
Thanks

[2021-04-14 09:57] sumitbhanushali commented on #42
Current Flutter version is 1.22.x, I have updated it in readme
Thank you

[2021-04-14 09:57] #42 closed, assigned to nobody

[2021-04-16 18:43] sumitbhanushali commented on #41
closing because this issue is not related to this repo

[2021-04-16 18:43] #41 closed, assigned to nobody

[2021-05-06 07:23] AdityaAgarwal256 opened #44 "Description Field shows an error"
The description field is displaying an error that the Boolean value cannot be null.

[2021-05-17 07:15] umairsy opened #45 "Hidden fields also showing up in the form view"
The first two fields are hidden fields, but visible in the mobile's from view.

![image](https://user-images.githubusercontent.com/910238/118446837-b1c70480-b70d-11eb-8b68-3f8a51219e33.png)

[2021-05-17 07:17] umairsy opened #46 "New Form, no button to fetch data from previous transactions"
Example:

In the new Sales Invoice, there should be button to fetch Items from Sales Order and Delivery Note. This is more so important, as item table in mobile view is not editable.

![image](https://user-images.githubusercontent.com/910238/118447062-f6eb3680-b70d-11eb-8b30-9c92047c04cd.png)

[2021-05-19 05:54] buff0k opened #47 "Mobile app function call not working in ERPNext v13"
Opening this here as it appears to be an issue with the API call in the mobile app:
https://github.com/frappe/erpnext/issues/25537
https://github.com/frappe/erpnext/issues/25213

Initially manifested as 404 error in the app, progressed to 417 with later builds of ERPNext.

[2021-05-19 08:31] sumitbhanushali commented on #47
@buff0k
ERPNext Mobile App [cordova-wrapper](https://github.com/frappe/cordova-wrapper) does not support V13, you can access ERPNext from Mobile Browser though since it'll give same experience.

This Project (frappe/mobile) is native mobile app implementation of Frappe Framework built from scratch and is different from one you have mentioned

[2021-05-19 08:31] #47 closed, assigned to nobody

[2021-05-25 12:11] kennethsequeira opened #48 "Bug: 2FA login not handled"
Login page freezes and reverts to the standard login when 2FA is enabled.

The page should revert to the code page.

[2021-05-27 23:59] j209 opened #49 "rtl support"
Hi
what about support rtl cultures like arabic,hebr,persian?

[2021-05-28 05:30] sumitbhanushali commented on #49
it's not in our roadmap yet, but yes they will be supported in future.
feel free to open a PR and contribute 🤘🏻

[2021-06-02 06:10] nidhipurohit11 opened #52 "Navigation via suggestions not working when user is on list view"
If the user is on any list view, for example, on "Item", then click on the search tab and click any suggestion like "Open Accounting" it's not working.

[2021-06-04 05:29] sumitbhanushali commented on #48
fixed in https://github.com/frappe/mobile/pull/51

[2021-06-04 05:29] #48 closed, assigned to sumitbhanushali

[2021-06-19 08:52] mohit7208 opened #54 "Not able to login to app"
Its showing error in app when i am trying to login and there is no error message in terminal
I have taken pull from master
version
ERPNext: v13.x.x-develop () (develop)
Frappe Framework: v13.x.x-develop () (develop)

Git
frappe: a9411e845634174a7f8c8b11aa0f3dbdbaa4ac7c
erpnext: 22e75725ea808fff21d3f4d0178d136d1a836d4a

I have read previous issues related to login and also frappe is updated to deve

[2021-06-19 10:54] sumitbhanushali commented on #54
can you DM me test creds on telegram?
id: @sumitb16

[2021-06-23 09:49] satishvijayan opened #55 "Client Scripts do not work on mobile app"
Not sure if this is being address. If client scripts don't work on the mobile app - I will have to tell everyone to use the browser.

[2021-06-24 12:22] ManasJha123 opened #56 "Unable to install"
@sumitbhanushali , I am unable to install it. Could you please update us the basic version requirement.

Thanks,

[2021-06-25 16:29] sumitbhanushali commented on #55
client scripts are not supported yet

[2021-06-25 16:30] sumitbhanushali commented on #56
what error are you getting?
are you installing apk on mobile or are you trying to setup flutter and run project?

[2021-07-01 07:05] sumitbhanushali commented on #54
issue was due to server not having https certificate.

[2021-07-01 07:05] #54 closed, assigned to nobody

[2021-07-01 07:06] sumitbhanushali commented on #52
fixed in https://github.com/frappe/mobile/pull/51

[2021-07-01 07:06] #52 closed, assigned to sumitbhanushali

[2021-07-27 04:23] mohit7208 opened #57 "Checkbox not updating in formValue"
When i check a checkbox its not adding that to formValue i tried printing it and it doesnt adds that

so it should have added selling 1 when i checked the checkbox

These are key and value of formValue

newname xyz
apply_on Item Code
items [{item_code: 1101, uom: Kg}]
item_groups null
brands null
apply_rule_on_other null
other_item_code null
other_item_group null
other_brand null
applicable_for Cu

[2021-07-27 04:27] mohit7208 commented on #57
Hey i wanna contribute so can you guide me on how to fix that

[2021-07-27 04:32] mohit7208 commented on #57
I tried logging onChanged val in form/check.dart but it doesnt print anything

[2021-07-27 05:24] sumitbhanushali commented on #57
way flutter_form_builder package handles fields have been changed in latest version, this was missed by me for checkbox field, thanks for digging that out.
you can refer how flutter_form_builder now handle fields and implement that change for checkbox

[2021-07-28 10:47] mohit7208 commented on #57
Hi i have created a new branch and pushed my code what should i do now shall i create a pull request

[2021-07-28 10:57] mohit7208 commented on #57
i have created a draft pull request suggest me further

[2021-07-29 13:15] sumitbhanushali commented on #57
solved in https://github.com/frappe/mobile/pull/58

[2021-07-29 13:15] #57 closed, assigned to nobody

[2021-08-06 09:37] nidhipurohit11 opened #62 "Evaluation Request : Some details are missing"
1. When an employee creates an evaluation request, then on mobile app "Topics*" and "Evaluation Topics List" are not getting displayed under section Course.

![Screenshot_20210804-174535](https://user-images.githubusercontent.com/82337328/128490654-8790b93d-7c13-4f7a-be9c-42e3aa2cf8ef.jpg)

2. Under Employee section, "Employee Name" and "Employee User ID" are not fetched.

![Screenshot_20210804-17

[2021-08-06 09:39] sumitbhanushali commented on #56
closing because of no activity

[2021-08-06 09:39] #56 closed, assigned to nobody

[2021-08-06 09:40] sumitbhanushali commented on #44
fixed in https://github.com/frappe/mobile/pull/61

[2021-08-06 09:40] #44 closed, assigned to sumitbhanushali

[2021-08-06 09:40] sumitbhanushali commented on #36
fixed in https://github.com/frappe/mobile/pull/61

[2021-08-06 09:40] #36 closed, assigned to nobody

[2021-08-06 09:41] sumitbhanushali commented on #28
fixed in https://github.com/frappe/mobile/pull/61

[2021-08-06 09:41] #28 closed, assigned to nobody

[2021-08-06 09:41] sumitbhanushali commented on #26
fixed in https://github.com/frappe/mobile/pull/61

[2021-08-06 09:41] #26 closed, assigned to nobody

[2021-08-06 09:43] sumitbhanushali commented on #25
added in https://github.com/frappe/mobile/pull/51

[2021-08-06 09:43] #25 closed, assigned to nobody

[2021-08-06 09:43] sumitbhanushali commented on #24
added in https://github.com/frappe/mobile/pull/61

[2021-08-06 09:43] #24 closed, assigned to nobody

[2021-08-06 10:21] nidhipurohit11 opened #63 "Home Page: Menu bifurcation as on web"
On web, the menu is bifurcated into "MODULES". "DOMAINS" and "ADMINISTRATION" options. This can be done on mobile as well.

Mobile View -

![Screenshot_20210806-151243](https://user-images.githubusercontent.com/82337328/128496279-44106163-9121-4995-b1ce-635f56f60d3c.jpg)

Web View -

![Screenshot 2021-08-06 at 3 45 11 PM](https://user-images.githubusercontent.com/82337328/128496323-bc85ba6a-daf5-4

[2021-08-06 10:51] nidhipurohit11 opened #64 "Doctypes: Activity log missing below many forms."
Some of the activities log missing on most of the forms.

For example below images shows log of the same form (Evaluation Request) on web and mobile -

Web -

![Screenshot 2021-08-06 at 4 04 23 PM](https://user-images.githubusercontent.com/82337328/128497963-f1033719-200f-4bed-86d7-1da0f1e48781.png)

Mobile -

![Screenshot_20210806-160403__01](https://user-images.githubusercontent.com/82337328/128

[2021-08-06 11:05] nidhipurohit11 opened #65 "Suggestion : Profile tab can cover more options like My Profile, My Settings, About app info etc"
Web app offers many options under the profile and help tool present on the top right corner. But these options are missing on mobile.

Web -

![Screenshot 2021-08-06 at 4 32 17 PM](https://user-images.githubusercontent.com/82337328/128501203-8a11b824-117f-47b2-9bc6-291bd133e7ba.png)

![Screenshot 2021-08-06 at 4 32 27 PM](https://user-images.githubusercontent.com/82337328/128501207-6d011602-54ec-4

[2021-08-08 04:48] jlhollowell commented on #47
Just curious if there is any activity toward fixing the app? The browser interface does not implement bar code / QR code scanning into fields. I think the app was supposed to have this functionality but am unable to verify as it fails with 417 error.

[2021-08-10 14:05] sumitbhanushali commented on #63
fixed in https://github.com/frappe/mobile/pull/66

[2021-08-10 14:05] #63 closed, assigned to sumitbhanushali

[2021-08-12 05:37] ptawde95 opened #67 "New in erpnext , need to check flutter app which rest-api url needs to be put in login screen."
Kindly let me know which rest-api url needs to be put in login screen.
I tried to put the URL generated by Frappe PWD.

[2021-08-12 06:19] sumitbhanushali commented on #67
same url you would put on browser for accessing frappe app

[2021-08-12 06:23] ptawde95 commented on #67
Hi @sumitbhanushali  , i tried to put the URL generated by frappe PWD showed me the below error message

**PWD URL :** http://ip172-18-0-19-c4aandfnjsv000eg08t0-80.direct.labs.play-with-docker.com/
![Screenshot_20210812-115056](https://user-images.githubusercontent.com/47977097/129147945-b8ce42e1-8777-44fe-96e5-a199eee24b40.png)

[2021-08-12 06:27] sumitbhanushali commented on #67
mobile app will only work on secure server i.e with https certificate

[2021-08-12 06:29] ptawde95 commented on #67
@saurabh6790  Thanks for your response .
Can I get Demo/Preview URL to check the mobile App ?

[2021-08-12 08:51] #67 closed, assigned to nobody

[2021-08-15 04:51] j209 opened #68 "Access in google play & appstore"
Hi
When app will be deploy in google play or app store?

[2021-08-16 07:21] ChillarAnand opened #69 "Unable to create patient appointments"
In webapp,  before creating patient appointments, erpnext shows `Check Availability` button. After the slot is confirmed, appointment is saved.

<img width="1280" alt="Screenshot 2021-08-16 at 12 42 45" src="https://user-images.githubusercontent.com/4463796/129525930-5e06c28d-dcc0-4685-a54e-fc462f7e853e.png">

Currently, this flow is broken in mobile app.

![photo_2021-08-16 12 50 22](https://user

[2021-08-16 12:24] ChillarAnand opened #70 "Prescription Duration view is not loading data"
Web view

<img width="1280" alt="Screenshot 2021-08-16 at 17 06 39" src="https://user-images.githubusercontent.com/4463796/129563274-485d19d1-1504-48dd-8416-11e09237e4f0.png">

Mobile view

![photo_2021-08-16 17 07 59](https://user-images.githubusercontent.com/4463796/129563219-fa00bd67-f8c8-4888-aa83-61c5d8db0f10.jpeg)

[2021-08-19 08:10] HDPortes commented on #47
@jlhollowell Hi!

In the web app, try creating a sales invoice.

That's where the scan should come. If you open it from a mobile browser

[2021-08-19 11:48] vinkas opened #71 "CRM sync with phone's call list and/or phone book"
This app should get connection to phones adress book and call list.
Use cases:

- Always know who is your caller an existing Lead/Contact or a potential lead;
- Transfer all calls to CRM's appropriate element (Lead, Contact or Deal).

[2021-08-20 00:57] jlhollowell commented on #47
66portes,

Thanks for your comment. I gave that a try but I don't see any fields in the sales invoice that allow me to access the camera on my phone to be used as a QR code reader. I need to be able to read scans when entering patients in the Healthcare app though so I guess I will need to have this functionality developed either via the web app or via the standalone app.

Regards

Jason

[2021-08-22 14:19] jumanalezzi opened #72 "Process 'command '/Users/mac/flutter/bin/flutter'' finished with non-zero exit value 1"
FAILURE: Build failed with an exception.

* Where:
Script '/Users/mac/flutter/packages/flutter_tools/gradle/flutter.gradle' line: 1052

* What went wrong:
Execution failed for task ':app:compileFlutterBuildDebug'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://h

[2021-08-22 14:43] sumitbhanushali commented on #72
can you paste output of `flutter doctor`

[2021-08-22 17:23] jumanalezzi commented on #72
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel beta, 2.3.0-24.1.pre, on Mac OS X 10.15.7 19H1217 darwin-x64, locale en-US)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ✗ cmdline-tools component is missing
      Run `path/to/sdkmanager --install "cmdline-tools;latest"`
      See https://developer.android.com/studio/command-li

[2021-08-23 05:18] sumitbhanushali commented on #72
your flutter setup is incomplete.
Also you are in flutter beta branch while this mobile project is on flutter stable branch, hence the issue.

[2021-08-24 08:04] #72 closed, assigned to nobody

[2021-08-25 14:34] mohsinalimat opened #73 "Issue in every details page"

[2021-08-25 14:48] #73 closed, assigned to nobody

[2021-09-01 04:05] mohsinalimat opened #77 "Auto login & remember me"
No session logout, I mean auto login & remember me last login username and password on login screen.

#feature-request

[2021-09-01 05:04] #68 closed, assigned to nobody

[2021-09-01 05:05] j209 commented on #68
Deployed!

[2021-09-03 08:59] cdiethelm opened #78 "Datetime not working with new dataset"
When creating a new employee checkin, the time is not changeable.

![Screenshot 2021-09-03 105716](https://user-images.githubusercontent.com/46853231/131979140-ad13948a-6569-4130-9851-9a9a94487fa3.png)

Additionally, the Employee name is not fetched.

Changing the time of an existing dataset works.

[2021-09-06 10:28] muchai opened #79 "If I open say an invoice, there's no print button for it"
One of the major applications for this app will be field sales . Hence the need for ability to Select Print Formats.
Scenario:
If you use a non pos sales invoice,
The only way to print the pos invoice print out, is to duplicate the POS invoice, and set it for Sales Invoice.
Hence the need to select print formats

[2021-09-08 05:23] sumitbhanushali opened #80 "add support for fields: barcode, table multiselect, signature, dynamic"

[2021-09-08 05:23] sumitbhanushali opened #81 "add support for depends_on, mandatory_depends_on, fetch_from"

[2021-09-11 07:13] arrazka opened #82 "Error can't login"
Idownload and login  to self hosted erpnext.. but error login..

[2021-09-11 08:40] sumitbhanushali commented on #82
can you provide screenshot of error?

[2021-09-13 06:59] arrazka opened #83 "Exception: Gradle task assembleDebug failed with exit code 1"
admin@admins-MacBook-Pro mobile % flutter doctor
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.5.0, on Mac OS X 10.15.7 19H1323 darwin-x64, locale en-ID)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 2020.3)
[✓] VS Code (

[2021-09-13 07:00] arrazka commented on #82
@sumitbhanushali thanks for your reply .. problem solved...

[2021-09-13 07:00] #82 closed, assigned to nobody

[2021-09-16 13:06] TurkerTunali commented on #71
Does not Google integrations support this?

[2021-09-16 13:33] nanoharsha opened #84 "Unable to download attached files from doctype"
We have tried downloading attached files from attached doctypes and are unable to download the files. In android it says download failed, in ios there is no action at all

[2021-09-17 06:15] moe01324 opened #87 ""error" at login"
trying to login just puts up "error"

server-address is valid, credentials are correct.

<img src="https://user-images.githubusercontent.com/13005756/133733598-2887a0d6-212b-41ea-abc3-ef2012374978.png" width="300" >

[2021-09-17 07:00] sumitbhanushali commented on #87
is your server running on frappe v13?

[2021-09-17 07:09] moe01324 commented on #87
yes, self hosted on AWS with version 13.2.0
![image](https://user-images.githubusercontent.com/13005756/133739941-ff08064b-6b71-42de-97dc-a31af5b346e7.png)

[2021-09-17 07:56] vinkas commented on #71
I suppose it can. What I would like to see is an app similar to [VTiger's](https://play.google.com/store/apps/details?id=com.vtiger.apps.vtigerlite) or [SuiteCRM](https://play.google.com/store/apps/details?id=com.magneticonemobile.phone2crm.suite). I suppose that such a powerfull Company could create such app with ease :)

[2021-09-17 09:51] Helkyd opened #88 "Posting time showing big gray field"
When doing an invoice after selecting the company the posting time field is shown as a big gray field

![Screenshot_20210917-104926](https://user-images.githubusercontent.com/20396898/133763478-318cf0bb-24fb-4e34-905d-633643f56201.png)

[2021-09-17 09:56] sumitbhanushali commented on #88
this is fixed in latest update, please check for update on play store

[2021-09-17 09:57] sumitbhanushali commented on #87
can you create test user and DM the test creds?

[2021-09-17 10:01] Helkyd commented on #88
I have updated and still the same issue!

How to check which version of the app I have?

On Fri, 17 Sep 2021, 10:56 am Sumit Bhanushali, ***@***.***>
wrote:

[2021-09-17 10:28] moe01324 commented on #87
could it be related to activated 2FA?

when i try with admin account (no 2FA active) i can login successfully.

[2021-09-17 11:53] sumitbhanushali commented on #88
![Screenshot_20210917-172135__01.jpg](https://user-images.githubusercontent.com/9103781/133778332-1664518d-6ef0-4675-b6a6-0a206fa597e5.jpg)

I have pushed new update, you should receive it soon

[2021-09-17 17:41] TurkerTunali commented on #71
What does VTiger or SuiteCRM do differently? I suppose with Google Contact integratin you can see new customers in your phone also.

[2021-09-17 19:48] sumitbhanushali commented on #84
fixed in https://github.com/frappe/mobile/pull/61 and uploaded on app stores

[2021-09-17 19:48] #84 closed, assigned to nobody

[2021-09-17 19:48] sumitbhanushali commented on #83
fixed in https://github.com/frappe/mobile/pull/86

[2021-09-17 19:48] #83 closed, assigned to nobody

[2021-09-17 19:48] sumitbhanushali commented on #88
fixed in https://github.com/frappe/mobile/pull/86

[2021-09-17 20:10] Helkyd commented on #88
Hi,
If you have fixed until now the problem exists... I have uninstalled and installed again and the issue is still here as you can see
![Uploading Screenshot_20210917-210957.png…]()

[2021-09-18 04:44] nanoharsha commented on #84
That was super quick 👏🏽👏🏽👍🏽

[2021-09-18 04:52] nanoharsha commented on #84
I am still unable to download a file from IOS app after updating the app. Pls find video of the same
https://user-images.githubusercontent.com/10630319/133872962-113feec5-99b8-43e3-88f1-a9120058c51e.MOV

[2021-09-20 06:12] cdiethelm commented on #78
Works 👍

[2021-09-20 06:12] #78 closed, assigned to nobody

[2021-09-20 08:59] vinkas commented on #71
Ok now I get that. Thank you for explanation. However, will ERPNext will get information which sales manager and when made a sales call from his contacts list? How the calls data (e. g. call date, number of calls to the same lead/contact) can be transfered to CRM?

[2021-09-20 10:44] nanoharsha opened #90 "Unable to see the reference link doctype"
We are unable to see the refence doctype. For eg when we assign an issue, a todo is created with a reference to the issue doctype and link to it also.
In web system we can check the reference issue from the todo, but as of now the system doesn't show the reference issue in the reference_name field. A snapshot is as below![image](https://user-images.githubusercontent.com/10630319/133989978-a91cade5

[2021-09-20 10:50] nanoharsha opened #91 "Filters not applied from shortcuts"
As we know we can create shortcuts as part of dashboard feature and apply filters in the shortcuts or cards.
When we click on the shortcuts or cards, we are taken to the list view with filters applied.

In the current app version, when we click on the shortcut, we are unable to see the filters being applied. Would he helpful if this is resolved, given majority of our field team uses shortcuts and

[2021-09-20 10:56] nanoharsha commented on #80
@sumitbhanushali
So this issue comes under dynamic field support and would be in pipeline ?

I created an issue https://github.com/frappe/mobile/issues/90 for the support of viewing dynamic fields and wanted to check if both are same.

[2021-09-20 11:03] nanoharsha commented on #84
I checked on android and its working fine, unable to still access it on IOS

[2021-09-20 12:17] TurkerTunali commented on #71
Good question. Good feature suggestion. I believe that there are some CRM solutions which does that. Does vTiger or SuiteCRM extracts info from the calls user made? I believe that it's phone systems job to do that.

[2021-09-20 15:34] sumitbhanushali commented on #80
no, this is different, this is dynamic link control

[2021-09-21 15:31] sumitbhanushali commented on #91
@nanoharsha you mean saved filters in list view?

[2021-09-21 19:30] nanoharsha commented on #91
No @sumitbhanushali .
I am referring to filters from shortcuts we can save in desk.
You can refer to the [docs page](https://frappeframework.com/docs/user/en/desk#workspace) in this section
_Add new blocks like Header, Paragraph, Shortcuts, Cards, Charts, Spacer etc_

![image](https://user-images.githubusercontent.com/10630319/134235275-0e012f5b-340b-429c-b5b6-910ff9eb1da4.gif)

When we click on a

[2021-09-21 19:33] sumitbhanushali commented on #91
Understood, will add it to roadmap

[2021-09-21 20:02] nanoharsha commented on #91
Also the key thing in the shortcuts is the numbers which give a glimpse of it on dashboard. In the app they aren't visible at all, only the cards are visible with text but not the numbers based on the filters applied. The numbers help especially our field team a lot to check and navigate quickly to filtered view.

I am not sure if I am asking for too much but this feature is very helpful on mobile

[2021-09-22 04:58] sumitbhanushali commented on #91
You can raise seperate feature request for this

[2021-09-22 05:47] b90g opened #92 "LDAP Login missing"
Ahoy,
if i try to login while LDAP is my main IDP, the login fails. An extra button like on the browser interface is missing, so i guess the mobile App uses the native user login.

Tested on Android & Ios with freshly installed apps.

[2021-09-22 19:26] nanoharsha commented on #91
Sure will do.

[2021-09-27 09:36] tbluhmitsdave commented on #92
I second this as a feature request.

[2021-09-28 07:13] vinkas commented on #71
I have had this kind of solution on Bitrix, as it had telephony module. I can not say, that it was a perfect solution because of constant breakdowns and issues, but we where able to check what a manager has talked about during his/her call.

This feature is not what I want on ERPNext as it can be done more easily through third party integrations and leave ERPNext at its best - manage the CRM.

How

[2021-09-28 07:13] #71 closed, assigned to nobody

[2021-09-28 07:42] sumitbhanushali commented on #92
@tbluhmitsdave yup, this would be feature request

[2021-09-28 07:49] sumitbhanushali commented on #87
yes, it is happening for 2FA cases

[2021-09-28 07:56] sumitbhanushali opened #93 "child table not functioning while creating document"

[2021-09-28 11:52] b90g commented on #92
should i put this into another system? which?

[2021-09-28 18:41] sumitbhanushali commented on #92
@b90g no, need I have added `enhancement` label.
here is fine

[2021-09-29 22:06] nikkothari22 commented on #55
@sumitbhanushali

Do you think client scripts will be supported anytime soon? So many of the ERPNext modules are dependent on it.

I was thinking of using CapacitorJS (https://capacitorjs.com) and Ionic Framework (https://ionicframework.com) to build the mobile app earlier - and since they are web-native technologies, client scripts can be supported out of the box.

I'll give it a try to wrap the

[2021-10-03 20:39] j209 opened #97 "Only work with https protocol"
Hi
Why frappe mobile don't support http and only work with https?

[2021-10-04 04:49] sumitbhanushali commented on #97
support for http is on the roadmap

[2021-10-05 01:56] saru2020 commented on #97
How do I make it work with a localhost frappe app?

[2021-10-05 04:52] sumitbhanushali commented on #97
@saru2020 you can comment out line 56,57,58 of setBaseUrl function residing in http.dart file and use ngrok to start server
https://frappeframework.com/docs/user/en/bench/frappe-commands#site-commands

[2021-10-13 04:57] penieldev opened #100 "Cannot login on iOS if Two Factor Authentication is enabled"
Cannot login on iOS if two factor authentication is enabled. It works fine on Android. It only says "**Error**".

[2021-10-22 18:08] #100 closed, assigned to nobody

[2021-10-22 18:09] #93 closed, assigned to nobody

[2021-10-22 18:09] #91 closed, assigned to nobody

[2021-10-22 18:10] #90 closed, assigned to nobody

[2021-10-22 18:10] #88 closed, assigned to nobody

[2021-10-22 18:12] #87 closed, assigned to nobody

[2021-10-22 18:12] #45 closed, assigned to sumitbhanushali

[2021-10-22 18:13] #29 closed, assigned to nobody

[2021-12-02 06:21] #81 closed, assigned to nobody

[2022-06-10 18:59] #97 closed, assigned to nobody

[2022-06-10 19:01] #49 closed, assigned to nobody

[2022-06-30 09:29] #92 closed, assigned to nobody